<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bit Brothers : {{title}}</title>
        <link rel="icon" href="https://bitbrothers.documint.ai/wp-content/uploads/sites/3/2017/12/logo.png" type="image/x-icon">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            .main{
                background-color: ivory;
                padding: 2%;
                text-align: center;
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
            .new{
                background-color: rgba(229, 255, 0, 0.473);
                padding: 5%;
                margin: 5%;
                border-radius: 5px;
            }
            table{
                margin:0 auto;
                border-collapse: separate;
                border-spacing: 50px 0;
                text-align: center;
                border-radius: 5px;
                border: 4px solid darkolivegreen;
                width: 100%;
                height: 100%;
            }
            td {
                width: 25%;
                padding: 15px 10px;
            }
            a{
                color: black;
            }
            a:hover{color: ivory; text-decoration: none;}
            .button{
                padding: 10px;
                background-color: rgb(98, 189, 105);
                border-radius: 5px;
                box-shadow: 2px 3px 4px #666;
                transition: 0.2s;

            }
            .button:hover{
                background-color: rgb(59, 138, 66);
            }
            .foot{
                width: 100%;
                position: absolute;
                bottom: 0;
                text-align: center;
                padding: 1%;
                color: ivory;
                background-color: rgba(0, 0, 0, 0.4);
            }
        </style>
    </head>
    <body>
        {{{body}}}
        <div class="foot">
            Developed by : <a href="https://gayatrii.herokuapp.com/"><img src="https://www.freelogodesign.org/file/app/client/thumb/2c5aed90-f2f8-4fd5-a449-4988a39d2cf0_200x200.png?1585050948067" width="50" height="50"> Gayatri</a>
        </div>
    </body>
</html>